In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [8]:
df= pd.read_csv("C:\\Users\\KUNAL\\.cache\\kagglehub\\datasets\\saurabhbadole\\bank-customer-churn-prediction-dataset\\versions\\2\\Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
df = df.drop(columns=['RowNumber', 'CustomerId', 'Surname'], axis=1)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [11]:
gen_encoder = LabelEncoder()
df["Gender"] = gen_encoder.fit_transform(df["Gender"])

In [13]:
df.Gender.value_counts()

Gender
1    5457
0    4543
Name: count, dtype: int64

In [31]:
geo_encoder = OneHotEncoder(sparse_output=False)
geo_encoded_col = geo_encoder.fit_transform(df[["Geography"]])

In [32]:
geo_df = pd.DataFrame(geo_encoded_col, columns=geo_encoder.get_feature_names_out(["Geography"]))

In [34]:
df = pd.concat([df, geo_df], axis=1)
df = df.drop(columns=["Geography"], axis=1)

In [35]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [36]:
X = df.drop("EstimatedSalary", axis=1)
y = df["EstimatedSalary"]

In [37]:
X_train, X_test, y_train , y_test = train_test_split(X, y,  test_size=0.2, random_state=42)

In [38]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [39]:
with open("Gen.pkl", "wb") as file:
    pickle.dump(gen_encoder, file)

with open("Geo.pkl", "wb") as file:
    pickle.dump(geo_encoder, file)

with open("Scaler.pkl", "wb") as file:
    pickle.dump(sc, file)

# ANN for Regression

In [41]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [43]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1, activation="linear")
]
)

In [46]:
model.compile(optimizer="adam", loss="mean_absolute_error", metrics=["mae"])
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [49]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

log_dir = "logs/reg/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir = log_dir, histogram_freq=1)

early_stopping = EarlyStopping(monitor='val_loss', patience=8, restore_best_weights=True)

In [50]:
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[tensorboard_callback, early_stopping],
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - loss: 99483.6172 - mae: 99483.6172 - val_loss: 98485.1875 - val_mae: 98485.1875
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 99343.8594 - mae: 99343.8594 - val_loss: 96743.3750 - val_mae: 96743.3750
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 97077.4453 - mae: 97077.4453 - val_loss: 92313.7422 - val_mae: 92313.7422
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 91292.2734 - mae: 91292.2734 - val_loss: 85055.3281 - val_mae: 85055.3281
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 86514.2734 - mae: 86514.2734 - val_loss: 76068.6484 - val_mae: 76068.6484
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 74586.8047 - mae: 74586.8047 - val_loss: 67089.9844 - val_mae: 67089.9844
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 66304.6875 - mae: 66304.6875 - val_loss: 59676.8555 - val_mae: 59676.8555
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 59017.9414 - mae: 59017.9414 - val_loss: 54758.8516 - val_mae: 54758.8516
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 54051.9453 - mae: 54051.9453 - val_loss: 52349.9805 - val_mae: 52349.9805
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 52141.0195 - mae: 52141.0195 - val_loss: 51412.0859 - val_mae: 51412.0859
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50793.2344 - mae: 50793.2344 - val_loss: 51123.4219 - val_mae: 51123.4219
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50457.8945 - mae: 50457.8945 - val_loss: 51011.6055 - val_mae: 51011.6055
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50029.6289 - mae: 50029.6289 - val_loss: 50945.1758 - val_mae: 50945.1758
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50262.4062 - mae: 50262.4062 - val_loss: 50893.9102 - val_mae: 50893.9102
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 51065.4062 - mae: 51065.4062 - val_loss: 50835.3203 - val_mae: 50835.3203
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50561.1133 - mae: 50561.1133 - val_loss: 50784.1992 - val_mae: 50784.1992
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50045.1055 - mae: 50045.1055 - val_loss: 50727.1875 - val_mae: 50727.1875
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50091.7383 - mae: 50091.7383 - val_loss: 50675.2422 - val_mae: 50675.2422
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50595.8203 - mae: 50595.8203 - val_loss: 50628.6953 - val_mae: 50628.6953
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50643.2695 - mae: 50643.2695 - val_loss: 50591.4414 - val_mae: 50591.4414
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49494.9141 - mae: 49494.9141 - val_loss: 50563.3125 - val_mae: 50563.3125
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50294.4961 - mae: 50294.4961 - val_loss: 50531.4688 - val_mae: 50531.4688
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49787.9609 - mae: 49787.9609 - val_loss: 50503.9570 - val_mae: 50503.9570
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49845.5391 - mae: 49845.5391 - val_loss: 50476.9336 - val_mae: 50476.9336
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49197.7695 - mae: 49197.7695 - val_loss: 50452.9922 - val_mae: 50452.9922
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49480.9805 - mae: 49480.9805 - val_loss: 50438.2578 - val_mae: 50438.2578
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50304.8398 - mae: 50304.8398 - val_loss: 50417.0117 - val_mae: 50417.0117
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49412.7695 - mae: 49412.7695 - val_loss: 50411.3672 - val_mae: 50411.3672
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49113.4922 - mae: 49113.4922 - val_loss: 50380.7148 - val_mae: 50380.7148
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49884.1914 - mae: 49884.1914 - val_loss: 50373.7148 - val_mae: 50373.7148
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50072.1211 - mae: 50072.1211 - val_loss: 50365.3945 - val_mae: 50365.3945
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49710.7188 - mae: 49710.7188 - val_loss: 50363.2969 - val_mae: 50363.2969
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50041.4570 - mae: 50041.4570 - val_loss: 50362.7031 - val_mae: 50362.7031
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49895.3477 - mae: 49895.3477 - val_loss: 50348.9648 - val_mae: 50348.9648
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49257.8359 - mae: 49257.8359 - val_loss: 50345.7109 - val_mae: 50345.7109
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49549.7266 - mae: 49549.7266 - val_loss: 50332.5625 - val_mae: 50332.5625
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49991.6016 - mae: 49991.6016 - val_loss: 50325.0156 - val_mae: 50325.0156
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49097.0703 - mae: 49097.0703 - val_loss: 50319.8867 - val_mae: 50319.8867
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49361.9297 - mae: 49361.9297 - val_loss: 50314.3633 - val_mae: 50314.3633
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49451.7852 - mae: 49451.7852 - val_loss: 50316.6289 - val_mae: 50316.6289
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49519.7969 - mae: 49519.7969 - val_loss: 50311.3906 - val_mae: 50311.3906
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50082.4688 - mae: 50082.4688 - val_loss: 50308.3047 - val_mae: 50308.3047
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50118.9375 - mae: 50118.9375 - val_loss: 50310.7070 - val_mae: 50310.7070
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49655.0156 - mae: 49655.0156 - val_loss: 50303.8984 - val_mae: 50303.8984
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49887.5664 - mae: 49887.5664 - val_loss: 50312.8164 - val_mae: 50312.8164
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49594.0430 - mae: 49594.0430 - val_loss: 50311.2227 - val_mae: 50311.2227
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49825.3398 - mae: 49825.3398 - val_loss: 50308.1523 - val_mae: 50308.1523
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49318.9688 - mae: 49318.9688 - val_loss: 50305.7188 - val_mae: 50305.7188
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49479.7734 - mae: 49479.7734 - val_loss: 50308.6406 - val_mae: 50308.6406
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49090.4922 - mae: 49090.4922 - val_loss: 50310.5781 - val_mae: 50310.5781
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49607.1875 - mae: 49607.1875 - val_loss: 50309.4531 - val_mae: 50309.4531
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49302.9844 - mae: 49302.9844 - val_loss: 50313.1914 - val_mae: 50313.1914

In [51]:
%load_ext tensorboard

In [57]:
%tensorboard --logdir logs/reg/20250715-185956

Reusing TensorBoard on port 6008 (pid 27836), started 0:00:05 ago. (Use '!kill 27836' to kill it.)

In [58]:
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f"Test Loss: {test_loss}, Test MAE: {test_mae}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51079.2695 - mae: 51079.2695
Test Loss: 50303.8984375, Test MAE: 50303.8984375

In [59]:
model.save("salary_reg_model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.